.heart{

}

.regular {
   position: relative;

}


.menu{
   .bacround{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: transparent;
      z-index: -1;
      background: transparent;
   }
   position: relative;
   scrollbar-width: 1px;
   &_fixed{
      &::-webkit-scrollbar-thumb:hover {
         background: #6490f7; 
       }
      &::-webkit-scrollbar-thumb {
         background: #85A8F8; 
         border-radius: 10px;
       }
       &::-webkit-scrollbar-track {
         box-shadow: inset 0 0 1px grey; 
         border-radius: 10px;
       }
       &::-webkit-scrollbar {
         width: 5px;
         border-radius: 10px;
      
         transition: .1s ease-in-out;
       }
      position: fixed;
      top: 100px;
      right: 14%;
      background: #fff;
      height: 350px;
      width: 300px;
      overflow-y: scroll;
      padding: 15px;
      border-radius: 10px !important; 
     
      z-index: 2;
      box-shadow: 2px 1px 15px #3837376b;
     }


   &_header{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;

   }
   &_item{
      display: flex;
      max-width: 300px;
      flex-direction: column;
      background-color: rgb(247, 246, 246);
      margin-bottom: 10px;
      border-radius: 10px;
      padding: 5px;
      h2{
         font-size: 16px;
         font-weight: 600;
         display: flex;
         align-items: center;
         gap: 5px;
         img{
            margin: 0;
         }
      }
      p{
         margin-left: auto;
         margin-top: 5px;
         font-size: 14px;
         color: #4e4e4e;
         font-weight: 500;
      }
   }
}
@media screen and (max-width:650px) {

   .menu{
      position: relative;
      .bacround{
         border-radius: 0 !important;
         background: #33333341;
      }
      &_item{
         border-radius: 10px !important;
         background-color: rgb(247, 246, 246) !important; 
      }
     &_fixed{
      position: fixed;
      top: 105px;
      left: 8%;
      background: #fff;
      height: 50%;
      width: 75%;
      overflow-y: scroll;
      padding: 15px;
      border-radius: 10px !important; 
      scrollbar-width: 1px;
      z-index: 2;
     }
   }
}
.loading{
   width: 44px;
   height: 44px;
   display: flex;
   align-items: center;
   background: #85A8F8;
   border-radius: 50%;
   border: 1px solid #C3D4E9;
   transition: .2s ease-in-out;

}
.outlined{
   position: relative;

   width: 44px;
   height: 44px;
   display: flex;
   align-items: center;
   img{
      margin: 0 auto;

   }
   transition: .2s ease-in-out;
   cursor: pointer;
   border-radius: 50%;
   border: 1px solid #C3D4E9;
   &:hover{
      background: #C3D4E9;
      transition: .2s ease-in-out;

   }

}
